doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

        # IMPORTANT: You MUST configure your server version,
        # either here or in the DATABASE_URL env var (see .env file)
        #server_version: '16'

        profiling_collect_backtrace: '%kernel.debug%'
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        identity_generation_preferences:
            Doctrine\DBAL\Platforms\PostgreSQLPlatform: identity
        auto_mapping: true
        mappings:
            Banking:
                is_bundle: false
                type: 'attribute'
                dir: '%kernel.project_dir%/src/Banking/Infrastructure/Doctrine/Entity'
                prefix: 'Banking\Infrastructure\Doctrine\Entity'
                alias: Banking
            Cluster:
                is_bundle: false
                type: 'attribute'
                dir: '%kernel.project_dir%/src/Cluster/Infrastructure/Doctrine/Entity'
                prefix: 'Cluster\Infrastructure\Doctrine\Entity'
                alias: Cluster
            Core:
                is_bundle: false
                type: 'attribute'
                dir: '%kernel.project_dir%/src/Core/Infrastructure/Doctrine/Entity'
                prefix: 'Core\Infrastructure\Doctrine\Entity'
                alias: Core
        controller_resolver:
            auto_mapping: false

when@test:
    doctrine:
        dbal:
            # "TEST_TOKEN" is typically set by ParaTest
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
